html{
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #333333;
  color: #ffffff;
}

.profile img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
  transition: max-width 0.5s ease;
}

.profile h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.profile h6 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .profile {
      flex-direction: row;
      text-align: left;
  }

  .profile img {
      margin-right: 1rem;
      margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .profile img {
  max-width: 300px;
  }
}

@media screen and (max-width: 576px) {
    .col-sm-9 {
      margin-bottom: 1rem;
    }
    .col-sm-3 {
      text-align: left;
    }
}

.heading{
    background:lightgrey;
    font-size: 5px;
    line-height:0%;
    margin:0;
    padding:0;
}

p{
    margin-left: 1.4rem;
    margin-right:0.5rem;
    text-align:justify;
    font-size:14px;
}

ul{
    list-style-type:square;
    font-size:17px;
}

#e1,#e2,#e3,#e4{
    font-style:italic;
}

.skills-row {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right:10px;
    flex-wrap: wrap;

    
  }
  
  .skill-box {
    display: inline-block;
    width:20%;
    border: 1px solid black;
    background-color: #ebe8e8;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .skill-box p{
    text-align:center;
  }

  .softskill {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left:30px;
  }
  
  .softskill li {
    flex: 1;
    margin-right: 10px;
    font-size:14px;
  }

  #list{
    font-size:14px;
    list-style-type: square;
    margin-left:30px;
  }

  .lang-prof{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left:30px;

  }
  .lang-prof li {
    flex: 1;
    margin-right: 10px;
    font-size:14px;
    list-style-type: none;
  }
